.flexible-item-detail-container {
	/* border: 1px solid gray; */
	background: palevioletred;
	box-shadow: 0px 0px 3px 3px rgba(50, 50, 50, 0.6);
	display: flex;
	flex-flow: column;
	padding: 10px;
	margin: 10px;
}

.item-detail__text {

}