.flexible-item-container {
	box-shadow: 0px 0px 3px 3px rgba(50, 50, 50, 0.6);
	/* background: palevioletred; */
	border-radius: 4px;
	background: rgba(240, 240, 240, 0.2);
	border: 1px dashed lightgray;
	display: flex;
	padding: 10px;
	justify-content: space-between;
	margin-bottom: 16px;
}

.flexible-item__details {
	display: flex;
}

.flexible-item__select-button {
	/* background: powderblue; */
	border: 1px solid lightgray;
	padding: 4px;
}

.flexible-item__text {
	color: white;
	margin-right: 10px;
}